<div fxLayoutAlign="center center" fxFlexFill class="main-div">
  <mat-card fxFlex="45">
    <form [formGroup]="form" class="myForm" (ngSubmit)="submitDetails(form)">
      <mat-form-field appearance="standard" class="myInput">
        <mat-label> Text </mat-label>
        <input
          matInput
          placeholder="Type description"
          formControlName="text"
          #textInput
        />
      </mat-form-field>

      <mat-form-field appearance="standard" class="myInput">
        <mat-label> Topics </mat-label>
        <input
          matInput
          placeholder="Type topics"
          formControlName="topics"
          #topicsInput
        />
      </mat-form-field>
      <mat-form-field>
        <div>
          <mat-toolbar>
            <input
              matInput
              [value]="
                selectedFileNames.length ? selectedFileNames : 'Select Images'
              "
            />

            <button
              mat-flat-button
              color="primary"
              [disabled]="!selectedFiles"
              (click)="uploadFiles()"
            >
              Upload
            </button>
          </mat-toolbar>

          <input
            type="file"
            id="fileInput"
            name="fileInput"
            accept="image/*"
            multiple
            (change)="selectFiles($event)"
          />
        </div>
      </mat-form-field>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        class="myButton"
        [disabled]="!form.valid"
      >
        Submit
      </button>
    </form>
  </mat-card>
</div>
