
  <!-- form -->
  <form [formGroup] = "form" class="myForm" (ngSubmit) = "submitDetails(form)">
    <mat-form-field appearance = "standard" class="myInput">
        <mat-label> Publisher </mat-label>
        <input matInput maxlength = "25" placeholder = "Type publisher" formControlName = "publisher" #publisherInput>
    </mat-form-field>
    <mat-form-field appearance = "standard" class="myInput">
        <mat-label> Text </mat-label>
        <input matInput maxlength = "100" placeholder = "Type description" formControlName = "text" #textInput>
    </mat-form-field>
    <mat-form-field appearance = "standard" class="myInput">
        <mat-label> Image </mat-label>
        <input matInput maxlength = "1000" placeholder = "Type image" formControlName = "image" #imageInput>
    </mat-form-field>
    <mat-form-field appearance = "standard" class="myInput">
        <mat-label> Topics </mat-label>
        <input matInput maxlength = "1000" placeholder = "Type topics" formControlName = "topics" #topicsInput>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit" class="myButton" [disabled]="!form.valid">Submit</button>
</form>
