<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      >{{ news.publisher }}
      <mat-icon *ngIf="news.isPinned">push_pin</mat-icon></mat-card-title
    >
    <!-- <button
      mat-button
      color="warn"
      *appPermission="'admin'"
      onclick="deleteNews()"
    >
      DELETE
    </button> -->
    <button
      mat-fab
      color="primary"
      aria-label="Example icon button with a delete icon"
      (click)="deleteNews()"
    >
      <mat-icon>delete</mat-icon>
    </button>

    <!-- <button mat-button *appPermission="'admin'" onclick="pinPost()">PIN</button> -->
    <button
      mat-fab
      color="warn"
      aria-label="Example icon button with a bookmark icon"
      (click)="pinPost()"
    >
      <mat-icon>bookmark</mat-icon>
    </button>
    <mat-card-subtitle>{{ news.publishDate }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      {{ news.text }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button id="like-button" mat-button (click)="increaseLike()">LIKE</button>
    <span>{{ news.likes }}</span>
    <button mat-button (click)="openDialog()">COMMENT</button>
    <button mat-button (click)="openDialogSeeComments()">SEE COMMENTS</button>
  </mat-card-actions>
</mat-card>
