.example-card {
  max-width: 550px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.title-and-pin-container {
  display: flex;
}

.mat-fab {
  margin-right: 10px;
}

i {
  cursor: pointer;
  margin-right: 10px;
  margin-left: 10px;
}
