<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title
      >{{ news.publisher }}
      <mat-icon *ngIf="news.isPinned">push_pin</mat-icon></mat-card-title
    >
    <button mat-button *appPermission="'admin'" onclick="deleteNews()">
      DELETE
    </button>
    <button mat-button *appPermission="'admin'">PIN</button>
    <mat-card-subtitle>{{ news.publishDate }}</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      {{ news.text }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button> <span>{{ news.likes }}</span>
    <button mat-button (click)="openDialog()">COMMENT</button>
    <button mat-button (click)="openDialogSeeComments()">SEE COMMENTS</button>
  </mat-card-actions>
</mat-card>
