.example-card {
  max-width: 550px;
}

.example-header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}

.title-and-pin-container {
  display: flex;
}

.mat-fab {
  /* border-radius: 25%; */
  margin-right: 10px;
}

/* #like-button:hover {
  background-color: #24a0ed;
  color: white;
} */
