.spacer {
  flex: 1 1 auto;
}
/* .homepage {
  margin-right: 30px;
} */
/* .myForm {
  display: flex;
  flex-direction: column;
}
.myInput {
  margin: 20px 20px 0 20px;
}
.myButton {
  margin-top: 20px;
  margin-left: 50%;
  width: 90px;
} */
/* 
.mat-toolbar {
  position: fixed;
}

.header-wrapper {
  height: 10rem;
} */

.mat-raised-button {
  margin-right: 5px;
}

.create-post {
  background-color: #b5683f;
}

.mat-toolbar-row {
  text-align: center;
  display: flex;
  justify-content: center;
}

.footer-container {
  margin-top: 100px;
}

span {
  font-size: 15px;
  text-align: right;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#logo {
  margin-left: 5px;
}

#app_title {
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: large;;
}

