<div class="page-container">
  <div class="content-container">
    <div class="container">
      <mat-toolbar class="header" color="primary">
        <span id="app_title" fxLayoutAlign="center">Connectville</span>
        <img id="logo" src="../assets/uranus.png" alt="" />
        <button
          matTooltip="Homepage"
          class="home-button"
          (click)="homepageClicked()"
          *ngIf="router.url !== '/login'"
          >
          <mat-icon class="homepage-icon">home</mat-icon>
        </button>
        
        <div class="spacer"></div>
        <div *ngIf="router.url !== '/login' && router.url !== '/createNews'">
          <button
          *appPermission="'admin'"
            mat-raised-button
            class="create-post"
            matTooltip="Create New Post"
            (click)="createNewsClicked()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <button
          *ngIf="router.url !== '/login' && router.url !== '/createNews'"
          mat-raised-button
          matTooltip="Filter HR Space"
        >
          HR
        </button>
        <button
          *ngIf="router.url !== '/login' && router.url !== '/createNews'"
          mat-raised-button
          matTooltip="Filter Legal Space"
        >
          Legal
        </button>
        <button
          *ngIf="router.url !== '/login' && router.url !== '/createNews'"
          mat-raised-button
          matTooltip="Filter Tech Space"
        >
          Tech
        </button>
        <button
          *ngIf="router.url !== '/login'"
          mat-raised-button
          matTooltip="Leave Page"
          class="create-post"
          (click)="logoutClicked()"
        >
          Logout
        </button>
      </mat-toolbar>
    </div>
      <span *ngIf="router.url !== '/login'" id="welcome_tag">Welcome, {{authService.getName()}} <img
        mat-card-avatar id="welcome_avatar"
        src="../../../../assets/blank-profile-picture-g19ba23f36_640.png"/>
      </span>
    <router-outlet></router-outlet>
  </div>
  <footer class="footer-container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span
          >© 2022 Connectville. All rights reserved. No part of this site may be
          reproduced without our written permission.</span
        >
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>
