<div class="page-container">
  <div class="content-container">
    <div class="container">
      <mat-toolbar class="header" color="primary">
        <!-- <span fxLayoutAlign="center">Connectville</span> -->
        <img src="../assets/uranus.png" alt="" />

        <div class="spacer"></div>
        <div *ngIf="router.url !== '/login' && router.url !== '/createNews'">
          <button
            *appPermission="'admin'"
            mat-raised-button
            class="create-post"
            matTooltip="Create New Post"
            (click)="createNewsClicked()"
          >
            <mat-icon>add</mat-icon>
          </button>
        </div>

        <button
          *ngIf="router.url !== '/login' && router.url !== '/createNews'"
          mat-raised-button
          matTooltip="Filter HR Space"
        >
          HR
        </button>
        <button
          *ngIf="router.url !== '/login' && router.url !== '/createNews'"
          mat-raised-button
          matTooltip="Filter Legal Space"
        >
          Legal
        </button>
        <button
          *ngIf="router.url !== '/login' && router.url !== '/createNews'"
          mat-raised-button
          matTooltip="Filter Tech Space"
        >
          Tech
        </button>
        <button
          *ngIf="router.url !== '/login'"
          mat-raised-button
          matTooltip="Leave Page"
          class="create-post"
          (click)="logoutClicked()"
        >
          Logout
        </button>
      </mat-toolbar>
    </div>

    <router-outlet></router-outlet>
  </div>
  <footer class="footer-container">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span
          >© 2022 Connectville. All rights reserved. No part of this site may be
          reproduced without our written permission.</span
        >
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>
