<div
  class="container"
  fxLayout
  fxLayoutAlign="center"
  fxLayoutGap="10px"
  fxLayoutGap.xs="0"
>
  <div class="item item-1" fxFlex="15%">
    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="let shoe of typesOfShoes" [value]="shoe">
        {{ shoe }}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="item item-2" fxFlex="20%" fxFlexOrder="3">
    <mat-icon>push_pin</mat-icon>
  </div>

  <div class="item item-3" fxFlex>
    <div class="cards-container">
      <mat-card *ngFor="let news of newsList" class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{ news.publisher }}</mat-card-title>
          <mat-card-subtitle>{{ news.publishDate }}</mat-card-subtitle>
        </mat-card-header>
        <img
          mat-card-image
          src="https://material.angular.io/assets/img/examples/shiba2.jpg"
          alt="Photo of a Shiba Inu"
        />
        <mat-card-content>
          <p>
            {{ news.text }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>COMMENT</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
